<?xml version="1.0" encoding="ISO-8859-1"?>

<!--<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4"> -->
    
 <web-app metadata-complete="false" version="3.0"  xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
  <description>Welcome to Students personnel</description>
  
  <servlet>
  	<servlet-name>MainFrameServlet</servlet-name>
  	<servlet-class>com.MainFrameServlet</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>StudentFrameServlet</servlet-name>
  	<servlet-class>com.StudentFrameServlet</servlet-class>
  </servlet>
   
  <servlet-mapping>
  	<servlet-name>MainFrameServlet</servlet-name>
  	<url-pattern>/main</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>StudentFrameServlet</servlet-name>
  	<url-pattern>/edit</url-pattern>
  </servlet-mapping>
  
</web-app>

 